{% extends 'login/header.html' %}
{% block content %}
<div class="box">{% load staticfiles %}
<h2 class="heading"><img src="{% static 'data/Alive_logo.png' %}"><span id="Alive">Alive</span> <span id="Home">Home</span></h2>
{% if form.errors %}
<p id="error">Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}" class='input_data'>
{% csrf_token %}
<p>
<table>
<tr>
    <td id="username_label">{{ form.username.label_tag }}</td>
    <td id="username">{{ form.username }}</td>
</tr>
<tr>
    <td id="password_label">{{ form.password.label_tag }}</td>
    <td id="password">{{ form.password }}</td>
</tr>
</table>
</p>
<p class="bs-component">
<input type="submit" value="Login" class="btn btn-primary" /></
</p>
<input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
<style type="text/css">
	img{
		width: 5vw;
		height: 10vh;
	}
	.box{
		background-color: white;
		padding: 4vh 4vw;
		width: 30vw;
		border-radius: 5%;
		border: 3px solid ;  
	}
	#Alive{
		font-weight: bold;
		color: #034f84;
	}
	#Home{
		color: #80ced6;
		font-weight: bold;
	}
	body{
		margin-top: 20vh; 
		margin-left: 32vw; 
		background-color: #87bdd8;
	}
	#username{
		padding: 1.5vw;
	}
	#password{
		padding: 1.5vw;
	}
	input[value="Login"]{
		width:19.4vw;
		margin-left: .7vw; 
	}
	#error{
		font-family: Lato;
		font-size: 1.2vw;
	}
</style>
{% endblock %}