{% extends 'login/header.html' %}
{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
<h2>Login</h2>
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<p class="bs-component">
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>
</p>
<p class="bs-component">
<input class="btn btn-success btn-sm" type="submit" value="login" class="login" /></
</p>
<input type="hidden" name="next" value="{{ next }}" />
</form>

<style type="text/css">
	h2{
		font-size: 3vw;
		width: 21vw;
		text-align: center;
	}
	.login{
		padding: 2vw;
		border: 3px solid #f1f1f1;
		width: 60vw;
	}
	input{
		width: 10vw;
		margin-left: 2vw; 
		border: 1px solid #ccc;
	}
	body{
		margin-left: 20vw; 
	}
	td{
		padding: 1vw;
	}
	
</style>
{% endblock %}